body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
}

.input-section {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    border: none;
    background: #4facfe;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #007bff;
}

li {
    list-style: none;
    margin-top: 10px;
    padding: 10px;
    background: #f1f1f1;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions button {
    margin-left: 5px;
    background: #ff6b6b;
}

.actions .edit {
    background: #feca57;
}